#roadmap {
  position: relative;
  padding: 0 20px;
}

#roadmap-step {
  position: relative;
  margin: 40px 0;
  padding-left: 40px;
  width: 70vw;
}

#step-content {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

#step-marker {
  position: absolute;
  left: 0;
  top: 20px;
  width: 16px;
  height: 16px;
  background-color: #1d4ed8;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 10;
}
#service {
  background: rgba(255, 255, 255, 0.1);
}
#project {
  background: rgba(255, 255, 255, 0.1);
}
#touch {
  background: rgba(255, 255, 255, 0.1);
}
